### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
pcount = purchase_data["SN"].unique()
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [46]:
#Player Count
#Display the total number of players
players_df = pd.DataFrame({"Player Count":[len(pcount)]})
players_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
P_analysis_df = pd.DataFrame({"Number of Unique Items":[len(purchase_data["Item Name"].unique())],
                                                        
                              "Average Purchase Price":['${:.2f}'.format(purchase_data["Price"].mean())],
                                                         
                              "Total Number of Purchases":[len(purchase_data["Price"])], 
            
                              "Total Revenue":['${:.2f}'.format(purchase_data["Price"].sum())]}) 
                                               
P_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
no_dup_players = purchase_data.drop_duplicates(['SN'], keep ='last')

gender_counts = no_dup_players['Gender'].value_counts().reset_index()

#gender_counts['% of Players'] = gender_counts['Gender']/players_df * 100

gender_counts.rename(columns = {'index': 'Gender', 'Gender': '# of Players'}, inplace = True)

gender_counts.set_index(['Gender'], inplace = True)

gender_counts.style.format({"% of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
male = purchase_data.loc[purchase_data["Gender"] == "Male"]
female = purchase_data.loc[purchase_data["Gender"] == "Female"]
other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
gender_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                         "Percentage of Players":['{:.2f}%'.format(float(100*(len(male["SN"].unique())/len(purchase_data["SN"].unique())))),
                                                  '{:.2f}%'.format(float(100*(len(female["SN"].unique())/len(purchase_data["SN"].unique())))),
                                                 '{:.2f}%'.format(float(100*(len(other["SN"].unique())/len(purchase_data["SN"].unique()))))],
                         "Total Count":[len(male["SN"].unique()),len(female["SN"].unique()),len(other["SN"].unique())]})
gender_df.set_index("Gender",drop=True)

                      Percentage of Players  Total Count
Gender
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
# Establish bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
ages = purchase_data
ages["Age Group"] = pd.cut(ages["Age"], bins, labels = age_groups)
age_groups

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
age_group = ages.groupby("Age Group")
age_demo = pd.DataFrame({"Purchase Count":age_group["Item Name"].count(),
                        "Average Purchase Price":age_group["Price"].mean(),
                        "Total Purchase Value":age_group["Price"].sum()})
pd.options.display.float_format = '${:,.2f}'.format
age_demo

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
<10                    23                   $3.35                $77.13
10-14                  28                   $2.96                $82.78
15-19                 136                   $3.04               $412.89
20-24                 365                   $3.05             $1,114.06
25-29                 101                   $2.90               $293.00
30-34                  73                   $2.93               $214.00
35-39                  41                   $3.60               $147.67
40+                    13                   $2.94                $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [55]:
sn_totals = {"SN":[],"Purchase Count":[],"Average Purchase Price":[],"Total Purchase Value":[]}
sn_list = purchase_data["SN"].unique()
for name in sn_list:
    newobject = purchase_data.loc[purchase_data["SN"] == name]
    sn_totals["SN"].append(name)
    sn_totals["Purchase Count"].append(len(newobject["Item Name"]))
    sn_totals["Average Purchase Price"].append(newobject["Price"].mean())
    sn_totals["Total Purchase Value"].append(newobject["Price"].sum())
sn_totals_df = pd.DataFrame(sn_totals)
sn_totals_df = sn_totals_df.sort_values("Total Purchase Value",ascending=False)
sn_totals_df = sn_totals_df.reset_index(drop=True)
pd.options.display.float_format = '${:,.2f}'.format
sn_totals_df.head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93               5                   $3.79                $18.96
1  Idastidru52               4                   $3.86                $15.45
2   Chamjask73               3                   $4.61                $13.83
3       Iral74               4                   $3.40                $13.62
4  Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
item_totals = {"Item Name":[],"Purchase Count":[],"Item ID":[],"Item Price":[],"Total Purchase Value":[]}
item_list = purchase_data["Item Name"].unique()
for item in item_list:
    newobject = purchase_data.loc[purchase_data["Item Name"] == item]
    item_totals["Item Name"].append(item)
    item_totals["Purchase Count"].append(len(newobject["Item Name"]))
    item_totals["Item ID"].append(newobject["Item ID"].iloc[0])
    item_totals["Item Price"].append(newobject["Price"].mean())
    item_totals["Total Purchase Value"].append(newobject["Price"].sum())

item_totals_df.head()

,Item Name,Purchase Count,Item ID,Item Price,Total Purchase Value
0,Final Critic,13,92,$4.61,$59.99
1,"Oathbreaker, Last Hope of the Breaking Storm",12,178,$4.23,$50.76
2,"Extraction, Quickblade Of Trembling Hands",9,108,$3.53,$31.77
3,Nirvana,9,82,$4.90,$44.10
4,Fiery Glass Crusader,9,145,$4.58,$41.22

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [57]:
item_totals_df = pd.DataFrame(item_totals)
item_totals_df = item_totals_df.sort_values("Purchase Count",ascending=False)
item_totals_df = item_totals_df.reset_index(drop=True)
pd.options.display.float_format = '${:,.2f}'.format
item_totals_df.head()

,Item Name,Purchase Count,Item ID,Item Price,Total Purchase Value
0,Final Critic,13,92,$4.61,$59.99
1,"Oathbreaker, Last Hope of the Breaking Storm",12,178,$4.23,$50.76
2,"Extraction, Quickblade Of Trembling Hands",9,108,$3.53,$31.77
3,Nirvana,9,82,$4.90,$44.10
4,Fiery Glass Crusader,9,145,$4.58,$41.22